---
import { API_KEY, API_URL } from "@/lib/env"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)

if (Astro.request.method === "POST") {
	try {
		const data = await Astro.request.formData()
		const image = data.get("image")

		if (!session?.user?.email || !image) {
			throw new Error("Faltan datos necesarios (email o imagen)")
		}

		const formData = new FormData()
		formData.append("image", image)
		formData.append("email", session.user.email)

		await fetch(`${API_URL}/api/upload`, {
			method: "POST",
			headers: { Authorization: `Bearer ${API_KEY}` },
			body: formData
		})
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message)
		}
	}
}
---

<form method="POST" id="uploadForm" enctype="multipart/form-data">
	<label for="fileInput">Selecciona una imagen:</label>
	<input type="file" id="fileInput" name="image" accept="image/*" required />
	<button type="submit">Enviar</button>
</form>
